/*------Start Base CSS------*/
.full-tem * {
  margin: 0;
  padding: 0;
}

.full-tem {
  font-family: 'Bree Serif', serif;
  background-image: url(https://mbahr-media.de/ebay/template_1/img/background.jpg);
  /* background-color: #00cbdf; */
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.full-tem img {
  height: auto;
  max-width: 100%;
  border: none;
}

body,
html {
  height: 100%;
}

.full-tem a,
.full-tem a:hover {
  text-decoration: none;
}

.full-tem a:focus {
  color: #333;
  text-decoration: none;
}

.full-tem a:focus,
.full-tem input:focus,
.full-tem textarea:focus,
.full-tem button:focus {
  outline: 0 solid;
}

.full-tem h1,
.full-tem h2,
.full-tem h3,
.full-tem h4,
.full-tem h5,
.full-tem h6 {
  margin-bottom: 15px;
  margin-top: 0;
}

.full-tem p {
  margin-bottom: 10px;
  margin-top: 0;
}

.full-tem .float_left {
  float: left;
}

.full-tem .float_right {
  float: right;
}

.full-tem .fix:before,
.full-tem .fix:after {
  content: '';
  display: table;
}

.full-tem .fix:after {
  clear: both;
}

/*------End Base CSS------*/

.full-tem .container-fluid {
  width: 100%;
}
.full-tem .text-right {
  text-align: right !important;
}
.full-tem .col-md-12 {
  max-width: 100%;
}
.full-tem .col {
  padding-right: 15px;
  padding-left: 15px;
  width: 46%;
  float: left;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainmenu li {
  display: inline-block;
}

.mainmenu li a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  padding: 5px 16px;
  position: relative;
}

.mainmenu {
  text-align: center;
}

.mainmenu li a::after {
  position: absolute;
  content: '';
  right: -8px;
  top: 50%;
  width: 15px;
  height: 4px;
  background: #fff;
  margin-top: -2px;
}

.mainmenu li:last-child a:after {
  display: none;
}

.heading {
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
}

.heading .headingC1 {
  color: #f7fbb4;
}

.heading .headingC2 {
  color: #b0fbf9;
}

.header-area {
  background-image: url(https://mbahr-media.de/ebay/template_1/img/header-pattern.png);
  background-repeat: no-repeat;
}

.content-area {
  padding: 100px 0;
}

.girl-bg {
  background-color: #00ffff;
  padding: 0 50px;
  border: 5px solid #fff;
  margin-top: 30px;
}

.text-box {
  background: #fff;
  padding: 15px;
  font-size: 30px;
  color: #01009b;
  margin-top: 150px;
}

.footer-area {
  padding: 15px 0;
}

.footer-area img {
  max-width: 200px;
  margin-bottom: 15px;
}

.content-area {
  position: relative;
  z-index: 2;
}

.bottom-pattern {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -120px;
  z-index: -1;
}

.footer-area {
  padding-top: 50px;
  position: relative;
  z-index: 2;
  padding-right: 15px;
}
